.ant-collapse.collapse-card {
  background-color: unset;
  border: unset;

  > .ant-collapse-item {
    background-color: #fafafa;
    border: 1px solid #CED2DE;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    > .ant-collapse-header {
      > span {
        padding: 0 8px;
      }
    }
  }
}