.wrap {
  width: 50%;
  margin: 0 auto;
  .normal-form {

  }
  .wrap-list {
    li {
      font-size: 30px;
      font-weight: 800;
    }
  }
  .customForm {
    .aaa {
      display: flex;
      > div.ant-form-item {
        flex: 1;
      }
    }
  }
}
