.TreeComponent {
  display: flex;

  > .tree {
    height: 400px;
    width: 256px;
    background-color: #fff;
  }

  > .btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}