.TableMenu {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border: 1px solid #efefef;

  .BaseTable {
    width: 49%;
    > button {
      margin-bottom: 8px;
    }
  }

  .SourceTable {
    .ant-table-wrapper {
      .ant-table-content {
        .ant-table-body {
          .ant-table-tbody {
            .ant-table-expanded-row {
              > td:nth-of-type(2) {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }

  .rowTable {
    width: 100%;
  }
}
