@virtual-tree-prefix-cls: ~'ant-tree';
@animation-duration-base: 0.2s;
@ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
@component-background: #141414;

.virtual-tree {

  .browser-user-select(@value) {
    -webkit-user-select: @value;
    -moz-user-select: @value;
    -ms-user-select: @value;
    user-select: @value;
  }



  >.@{virtual-tree-prefix-cls}-list {
    >.@{virtual-tree-prefix-cls}-list-holder {
      >div {
        >.@{virtual-tree-prefix-cls}-list-holder-inner {
          .@{virtual-tree-prefix-cls}-treenode {
            display: flex;
            align-items: flex-start;
            padding: 0 0 4px;
            outline: none;

            >.@{virtual-tree-prefix-cls}-indent {
              align-self: stretch;
              white-space: nowrap;
              .browser-user-select(none);

              >.@{virtual-tree-prefix-cls}-indent-unit {
                display: inline-block;
                width: 24px;
              }
            }

            >span.@{virtual-tree-prefix-cls}-switcher {
              position: relative;
              flex: none;
              align-self: stretch;
              width: 24px;
              margin: 0;
              line-height: 24px;
              text-align: center;
              cursor: pointer;
              .browser-user-select(none);

              >.@{virtual-tree-prefix-cls}-switcher-icon {
                display: inline-block;
                font-size: 10px;
                vertical-align: baseline;
              }

              &.@{virtual-tree-prefix-cls}-switcher_close {
                .@{virtual-tree-prefix-cls}-switcher-icon svg {
                  transform: rotate(-90deg);
                }
              }

              .@{virtual-tree-prefix-cls}-switcher-icon svg,
              .mc-virtual-select-tree-switcher-icon svg {
                transition: transform .3s;
              }
            }

            >span.@{virtual-tree-prefix-cls}-checkbox {
              top: initial;
              margin: 4px 8px 0 0;
            }

            .@{virtual-tree-prefix-cls}-node-content-wrapper {
              position: relative;
              z-index: auto;
              min-height: 24px;
              margin: 0;
              padding: 0 4px;
              color: inherit;
              line-height: 24px;
              background: 0 0;
              border-radius: 2px;
              cursor: pointer;
              transition: all .3s, border 0s, line-height 0s, box-shadow 0s;
              .browser-user-select(none);
            }
          }

          .ant-motion-collapse {
            overflow: hidden;
            transition: height @animation-duration-base @ease-in-out,
              opacity @animation-duration-base @ease-in-out  !important;
          }
        }
      }
    }
  }
}

// ==================== Show Line =====================
.virtual-tree.@{virtual-tree-prefix-cls}-show-line {

  // ================ Indent lines ================
  .@{virtual-tree-prefix-cls}-indent {
    &-unit {
      position: relative;
      height: 100%;

      &::before {
        position: absolute;
        top: 0;
        right: 12px;
        bottom: -4px;
        border-right: 1px solid #d9d9d9;
        content: "";
      }

      &-end {
        &::before {
          display: none;
        }
      }
    }
  }

  // ============== Cover Background ==============
  .@{virtual-tree-prefix-cls}-switcher {
    // background: @component-background;

    &-line-icon {
      // https://github.com/ant-design/ant-design/issues/32813
      vertical-align: -0.15em;
    }
  }
}