.TableTransfer {
  position: relative;
  display: inline-block;
  .leftDropdown {
    position: absolute;
    top: 15px;
    margin-left: 15px;
    font-size: 10px;
    cursor: pointer;
    z-index: 1;
  }
  .rightDropdown {
    position: absolute;
    top: 15px;
    right: calc( 50% - 20px - 10px - 15px );
    font-size: 10px;
    cursor: pointer;
    z-index: 1;
  }
  .leftDropdown.TableTransfer-selectAll {
    margin-left: 32px;
  }
  .rightDropdown.TableTransfer-selectAll {
    right: calc( 50% - 20px - 10px - 15px - 17px );
  }
  .leftDropdown + .ant-transfer .ant-transfer-list-header-selected,
  .rightDropdown + .ant-transfer .ant-transfer-list-header-selected {
    padding-left: 16px;
  }
  .ant-transfer {
    .ant-transfer-list {
      min-width: 250px;
      .ant-transfer-list-body {
        height: 100%;
        .ant-transfer-list-body-search-wrapper {
          padding-bottom: 12px;
        }
        .ant-transfer-list-body-customize-wrapper {
          padding: 0;
          height: 100%;
          .ant-table-wrapper, 
          .ant-spin-nested-loading, 
          .ant-spin-container {
            height: 100%;
          }
          .ant-table-wrapper {
            .ant-table-tbody
              > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
              > td,
            .ant-table-tbody
              > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
              > td {
              background-color: #f7f8fa;
            }
            .ant-table-tbody > tr:hover.ant-table-row-selected > td,
            .ant-table-tbody > tr.ant-table-row-selected > td {
              background-color: #f0f8ff;
            }
            .ant-table {
              overflow: auto;
              height: calc( 100% - 41px );
              table {
                .ant-table-tbody {
                  tr {
                    td {
                      border: 0;
                      padding: 6px;
                      &:not(.ant-table-selection-column) {
                        padding-left: 0;
                      }
                    }
                  }
                }
              }
            }
          }
          ul.ant-pagination {
            width: 100%;
            margin: 0;
            padding: 8px 0;
            text-align: right;
            border-top: 1px solid #f0f0f0;
          }
        }
        .ant-transfer-list-body-search-wrapper + .ant-transfer-list-body-customize-wrapper {
          height: calc( 100% - 56px );
        }
      }
    }
  }
  .helpText {
    margin-left: calc( 50% + 20px );
    font-size: 14px;
    line-height: 14px;
    color: #FF3D55;
    opacity: 0;
    transform: translateY(-14px);
    transition: .5s;
  }
  .helpTextIn {
    margin-left: calc( 50% + 20px );
    opacity: 1;
    transform: translateY(4px);
  }
}