.TableMenu {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border: 1px solid #efefef;

  .BaseTable {
    width: 49%;
    > button {
      margin-bottom: 8px;
    }
  }

  .SourceTable {
    .ant-table-wrapper {
      .ant-table-content {
        .ant-table-body {
          .ant-table-tbody {
            tr.ant-table-expanded-row {
              > td {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }

  .TargetTable {
    .ant-table-wrapper {
      .ant-table-content {
        .ant-table-placeholder {
          border-bottom: none;
        }
      }
    }
  }

  // 假定最多支持五层结构
  @rowTableLen: 5;

  each(range(@rowTableLen), {
    .RowTable@{value} {
      width: 100%;
      > .ant-table-wrapper {
        .ant-table-body {
          .ant-table-tbody {
            > tr.ant-table-row {
              td:nth-of-type(2) {
                padding-left: 16px + @value * 24px;
              }
            }
            tr.ant-table-expanded-row {
              > td {
                padding: 0;
              }
            }
          }
        }
      }
    }
  })
}
